function db {
    if [ "$1" = "refresh" ]; then
        mysql -uroot -p -e "drop database $2; create database $2; use $2; source $3"
    elif [ "$1" = "create" ]; then
        mysql -uroot -p -e "create database $2"
    elif [ "$1" = "drop" ]; then
        mysql -uroot -p -e "drop database $2"
    fi
}
